@{
    ViewData["Title"] = "Test Productos";
}

<div class="container">
    <h1>Test de Módulo de Productos</h1>
    
    <div class="mt-4">
        <p>Verificar que los siguientes elementos funcionan correctamente:</p>
        
        <ol>
            <li>Las pestañas tienen estilo underline (sin cajas)</li>
            <li>El Select2 de categorías permite:
                <ul>
                    <li>Buscar categorías existentes</li>
                    <li>Crear nuevas categorías</li>
                    <li>Editar categorías existentes</li>
                </ul>
            </li>
            <li>El offcanvas de categorías abre correctamente</li>
        </ol>
        
        <div class="mt-4">
            <a href="/Productos/Create" class="btn btn-primary">Ir a Crear Producto</a>
        </div>
    </div>
</div>